<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt Steam Deposit</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <div class="inner-container">
            <div class="overlay">
                <div class="shadow-container">
                    <svg width="460" height="588" viewBox="0 0 460 588" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M440 0H20C8.95431 0 0 8.95431 0 20V157C9.83333 157.333 29.6 163.3 30 184.5C30.4 205.7 10.1667 210.333 0 210V568C0 579.046 8.9543 588 20 588H440C451.046 588 460 579.046 460 568V209.5C448.5 210.5 425.6 206.6 426 183C426.4 159.4 448.833 156.833 460 158.5V20C460 8.9543 451.046 0 440 0Z" fill="white"/>
                    </svg>
                </div>
            </div>
            <div class="content">
                <div class="content-box">
                    <div class="circle">
                        <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="56.6667" height="56.6667" rx="28.3333" fill="#40D195" fill-opacity="0.12"/>
                            <path d="M28.3333 15C20.9867 15 15 20.9867 15 28.3333C15 35.68 20.9867 41.6667 28.3333 41.6667C35.68 41.6667 41.6667 35.68 41.6667 28.3333C41.6667 20.9867 35.68 15 28.3333 15ZM34.7067 25.2667L27.1467 32.8267C26.96 33.0133 26.7067 33.12 26.44 33.12C26.1733 33.12 25.92 33.0133 25.7333 32.8267L21.96 29.0533C21.5733 28.6667 21.5733 28.0267 21.96 27.64C22.3467 27.2533 22.9867 27.2533 23.3733 27.64L26.44 30.7067L33.2933 23.8533C33.68 23.4667 34.32 23.4667 34.7067 23.8533C35.0933 24.24 35.0933 24.8667 34.7067 25.2667Z" fill="#41D195"/>
                        </svg>
                        <div class="arrow-container">
                            <div class="arrow">
                                <div class="arrow-up"></div>
                                <div class="arrow-down"></div>
                            </div>
                        </div>
                    </div>
                    <div class="text-container">
                        <div class="text-bold">Steam Deposit</div>
                        <div class="text-bold">Платеж выполнен успешно</div>
                        <div class="text-bold">Номер платежа</div>
                        <div class="text-default">{{payment_number}}</div>
                    </div>
                </div>
                <div class="info-box">
                        <div class="line"></div>
                    <div class="info">
                        <div class="info-row">
                            <div class="info-label">Назначение:</div>
                            <div class="info-value">{{target}}</div>
                        </div>
                        <div class="info-row">
                            <div class="info-label">Дата:</div>
                            <div class="info-value">{{date}}</div>
                        </div>
                        <div class="info-row">
                            <div class="info-label">Логин:</div>
                            <div class="info-value">{{steam_login}}</div>
                        </div>
                        <div class="info-row">
                            <div class="info-label">Сумма к зачислению:</div>
                            <div class="info-value">${{deposit_sum}}</div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="info-row">
                        <div class="info-label">Оплачено:</div>
                        <div class="info-value">${{payment_sum}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>